body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*自定义样式*/
body{
    font-family:Cambria, Gabriola, "Times New Roman";
    margin: 0;
}

#header{
    background-color:#444;
    border-bottom: 2px solid #111;
    color: white;
}

#header .title{
    font-size: 2em;
    padding: .6em;
}

#content{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

#categories{
    float:left;
    width:8em;
    padding:.3em;
}

.item{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

.item:first-child{
    border-top: none;
    padding-top: 0;
}

.item h3{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

.item h4{
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

.pager{
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

/*用于分类链接的css*/
#categories a{
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid silver;
}

#categories a.selected{
    background-color: #666;
    color: white;
}

#categories a:hover{
    background-color: #ccc;
}

#categories a.selected:hover{
    background-color: #666;
}

form{
    margin: 0;
    padding: 0;
}

.item form{
    float: right;
}

.item input{
    color: white;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}

h2{
    margin-top: .3em;
}

tfoot td{
    border-top: 1px dotted gray;
    font-weight: bold;
}

.actionButtons a, input.actionButtons{
    font: 1em "微软雅黑";
    color: white;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

a:hover,.actionButtons a:hover{
    text-decoration:none;
    color:wheat;
}

#cart{
    float: right;
    margin: .8em;
    color: silver;
    background-color: #555;
    padding: .5em .5em .5em 1em;
}
#cart a{
    text-decoration:none;
    padding: .4em 1em .4em 1em;
    line-height: 2.1em;
    margin-left: .5em;
    background-color: #333;
    color:white;
    border: 1px solid black;
}
