body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body{
    font-family:Cambria, Gabriola, "Times New Roman";
    margin: 0;
}

#header{
    background-color:#444;
    border-bottom: 2px solid #111;
    color: white;
}

#header .title{
    font-size: 2em;
    padding: .6em;
}

#content{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

#categories{
    float:left;
    width:8em;
    padding:.3em;
}

.item{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

.item:first-child{
    border-top: none;
    padding-top: 0;
}

.item h3{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

.item h4{
    font-size: 1.1em;
    margin: .4em 0 0 0;
}
