@model SportStore.WebUI.Models.LoginViewModelcs

@{
    ViewBag.Title = "Admin: Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>登录</h1>
<p>Please log in to access the adminstrative area:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel();
    <p><input type="submit" value="登录" /></p>
}
